$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$quaternary-color: #fa9500;
$primary-text-color: #7c6a0a;
$secondary-text-color: #e86424;
$font-stack: "IBM Plex Sans", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-stack;
}

body {
  background-color: $primary-color;
}

button {
  color: inherit;
}

////////////////////////////////////////////
// HEADER
////////////////////////////////////////////
.header {
  display: flex;
  align-items: center;
  padding: 0 3.2rem;
  width: 100%;
  height: 9.6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $primary-text-color;

  p {
    font-size: 2.4rem;
    padding-left: 1.2rem;
    cursor: pointer;
  }

  div {
    display: flex;
    gap: 3.2rem;
  }
  button {
    display: grid;
    background: none;
    border: none;
    cursor: pointer;
    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
